/*0.Header & Setting*/
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 100%;
    margin:0;
}
img{
    border-radius: 10%;
}

.header{
    font-size: 2vh;
    line-height: 2px;
    color:beige;
    background-color: #333;   
    padding:1%; 
    text-align: center;
}
.title{
    font-size:3em;
}

.gameFooter{
    position:absolute;
    bottom:0px;
    display: flex;
    gap:25px;
    padding:5px;
    border-radius: 20px 20px 0px 0px;
    border: 3px solid #D69215;
    border-bottom: 0px;
    box-shadow: 0px 0px 10px #333;
    z-index: -1;
}

#cash, #playerInfo, #winDisplay, #loseDisplay, #drawDisplay{
    display:flex;
    gap:10px;
    align-items: center;
    padding:5px;
    padding-left:10px;
    font-size: 0.7em;
}

#nameText, #greetName{
    color:#D69215;
    text-shadow: 0px 0px 3px white;
}
/*1.Welcome Page*/
/*FOL: place the button at the center of the whole screen*/
.welcomePage{
    width:100%;
    padding-top:30px;
    text-align: center;
}
.aboutBtn{
    padding: 10px;
    border:1px solid #D69215;
    background-color: white;
    color:beige;
    font-size: 20px;
    box-shadow: 1px 1px 5px #D69215;
    margin-top: 20px;
    position: absolute;
    bottom:20px;
    right:20px;
}
.aboutBtn:hover{
    cursor: pointer;
}
.disclaimer{
    padding:5px 25px;
    text-align: justify;
    font-size: 0.8em;
    opacity: 80%;
}
.loginForm{
    background-color: #e1e1e1;
    border: 2px solid #D69215;
    border-radius: 10px;
    max-width: 300px;
    margin:auto;
    margin-top:0px;
    padding:15px;
}
.loginForm form{
    display:flex;
    flex-flow: column wrap;
    padding:20px;
    gap:5px;
}
.loginForm input{
    height:20px;
}
.loginBtns, .guestBtns{
    display:flex;
    justify-content: center;
    padding:0px 20px;
    gap:20px;
    margin-bottom:10px;
}
#loginBtn, #createBtn, #confirmBtn, #guestBtn{
    height:30px;
    flex: 1 1 auto;
    border:none;
    background-color: #f5c46a;
    font-weight: 600;
    color:#333;
}
#confirmBtn{
    display:none;
}
/*2.Game Page*/
.gameHeader{
    display:flex;
    justify-content: start;
    gap:0px;
    margin-bottom:10px;
}
.footerWrapper{
    display: flex;
    justify-content: center;
}

.gamePage{
    display:block;
    text-align: center;
    font-size: 1.2em;
    margin-top:20px;
    display:none;

}
#deckOfCards{
    margin-top:30px;
    box-shadow: 2px 3px 3px #555;
    transform: rotate(90deg);
}

#potContainer{
    width:10%;
    background-color: #D69215;
    margin-left:auto;
    margin-bottom: 10px;
    padding:5px;
    color:white;
}
.betContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#betBar{
    accent-color:#D69215;
}
#betConfirm{
    border:none;
    background-color: rgb(202, 176, 30);
    color:white;
    height:30px;
    padding:5px;
    box-shadow: 1px 1px 3px gray;
}
/*Dealing*/
#player1, #player2, #player3, #player4, #player5,
#comp1, #comp2, #comp3, #comp4, #comp5{
    display:none;
    width:60px;
    box-shadow: 0px 1px 3px gray;
}

.playerCards, .compCards{
    display:flex;
    width:100%;
    justify-content: center;
    gap:10px;
    margin:auto;
    margin-top: 0px;
}
.btnContainer{
    margin-top:20px;
    display:flex;
    gap:20px;
    justify-content: center;
}
.btn{
    display:none;
    font-weight: bold;
    border:none;
    color:white;
    height:30px;
    width: 60px;
    padding:5px;
    box-shadow: 1px 1px 3px gray;
    margin-bottom: 10px;
}
#hitBtn{
    background-color: #E0D616;
}
#standBtn{
    background-color:#B4D615;
}

/*WinLoseDraw*/

/* .result{
    display:none;
    text-align: center;
    margin-top:100px;
} */

.win, .lose, .draw{
    display:none;
    text-align: center;
    margin-top:100px;
}

.rImage{
    margin:30px;
    height:200px;
}
.restart{
    display:block;
    margin:auto;
    font-weight: bold;
    border:none;
    background-color:#D69215;
    color:white;
    height:30px;
    width: auto;
    padding-left:15px;
    padding-right:15px;
    box-shadow: 1px 1px 3px gray;
}